* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d47a1;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #61c5ef;
}

.navbar__menu {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #1565c0;
  border-radius: 4px;
}

.navbar__icons {
  display: flex;
  list-style: none;
  color: white;
  padding-left: 0;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
}

.navbar__toggleBtn:hover {
  color: black;
}

.navbar__icons li {
  padding: 8px 12px;
  font-size: 24px;
}
.navbar__icons li:hover {
  background-color: #1565c0;
}

.navbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: inline-block; */
  background: #0d47a1;
  color: #fff;
}
.navbar > ul > li {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  float: left;
  width: 136px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}
.dropdown li {
  display: none;
  background: #0d47a1;
}
.dropdown li:hover {
  background: #61c5ef;
}
.navbar li:hover > .dropdown li {
  display: block;
}
.navbar li:hover > .dropdown {
  perspective: 1000px;
}

.navbar li:hover > .dropdown li {
  transform-origin: top center;
  opacity: 0;
}

.navbar li:hover > .dropdown li:nth-child(1) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}

.navbar li:hover > .dropdown li:nth-child(2) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}

.navbar li:hover > .dropdown li:nth-child(3) {
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.photo {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 100px 0px 20px 0px;
  font-size: 45px;
  justify-content: center;
  text-align: center;
}

.box1 {
  display: flex;
  width: 100%;
  height: 191px;
  flex-flow: column;
}
.edit {
  font-size: 15px;
}

.hr_line {
  content: "";
  display: inline-block;
  width: 1px;
  height: 56px;
  border-left: 1.5px solid black;
  margin: 0 auto 20px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;  
  margin-bottom: 100px;
}

.videobox1{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 600px;
  height: 600px;
  
  flex-flow: column;
  
}

.textbox1 p{
  margin-top: 15px;
  width: 550px;
margin-bottom: 5px;
font-weight: 550;
}
.textbox2 p{
  margin-top: 15px;
  width: 550px;
margin-bottom: 5px;
font-weight: 550;
}
.videobox2{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 600px;
  height: 600px;
  
  flex-flow: column;
}




.footer {
  width: 100%;
  height: 50px;
  font-size: 1em;
  text-align: center;
  font-weight: 600;
  margin: 5px;
  padding: 15px;
}

@media screen and (max-width: 1160px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
.videobox1, .videobox2{
  width: 450px;
  height: 450px;

}
.video1, .video2{
width: 450px;
height: 370px;
}
.textbox1, .textbox2{
  width: 450px;
  height: 450px;
}
}

@media screen and (max-width: 966px) {
  .container{
    margin-top: 50px;
  }
  .videobox1, .videobox2{
    width:300px;
    height: 300px;  
  }
  .video1, .video2{
  width: 300px;
  height: 180px;
  }
  .textbox1, .textbox2{
    width: 300px;
    height: 300px;
  }
  
}
@media screen and (max-width: 786px) {
  .container{
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .videobox1{
    margin-bottom: 150px;
  }
 
      
  
}

@media screen and (max-width: 710px) {
  .inner_container {
    width: 600px;
    height: 1600px;
  }
  .container_1,
  .container_2,
  .container_3,
  .container_4,
  .container_5,
  .container_6,
  .container_7,
  .container_8,
  .container_9 {
    width: 500px;
    height: 500px;
  }

  .container_6,
  .container_7,
  .container_8,
  .container_9 {
    display: none;
  }
}
